<nz-card>
  <nz-space style="width: 100%">
    <nz-input-number-group *nzSpaceItem nzAddOnBefore="总状态数">
      <nz-input-number
        [ngModel]="statesSize$ | async"
        [nzStep]="1"
        [nzMin]="1"
        (ngModelChange)="statesSize$.next($event)"
      ></nz-input-number>
    </nz-input-number-group>

    <nz-input-number-group *nzSpaceItem nzAddOnBefore="终结符数">
      <nz-input-number
        [ngModel]="terminalsSize$ | async"
        [nzStep]="1"
        (ngModelChange)="terminalsSize$.next($event)"
        [nzMin]="1"
      ></nz-input-number>
    </nz-input-number-group>
  </nz-space>

  @if (dfaTableInputs$ | async; as dfaTableInput) {
    <nz-table #groupingTable [nzData]="[{}]" [nzShowPagination]="false">
      <thead>
      <tr>
        <th rowspan="2" nzLeft>状态</th>
        <th rowspan="2">开始状态</th>
        <th rowspan="2">终止状态</th>
        <th [colspan]="terminalsSize$ | async">输入字符</th>
      </tr>
      <tr>
        @for (terminalInput$ of dfaTableInput.terminals; track $index) {
          <th rowSpan="1">
            <input
              type="text"
              nz-input
              [ngModel]="terminalInput$ | async"
              (ngModelChange)="terminalInput$.next($event)"
            />
          </th>
        }
      </tr>
      </thead>
      <tbody>
        @for (row of dfaTableInput.rows; track $index) {
          <tr></tr>
          <td nzLeft>{{ $index }}</td>
          <td>
            <label
              nz-checkbox
              [ngModel]="row.isS$ | async"
              (ngModelChange)="row.isS$.next($event)"
            ></label>
          </td>
          <td>
            <label
              nz-checkbox
              [ngModel]="row.isF$ | async"
              (ngModelChange)="row.isF$.next($event)"
            ></label>
          </td>

          @for (transTableInput$ of row.transTable; track $index) {
            <td>
              <nz-input-number
                [ngModel]="transTableInput$ | async"
                [nzStep]="1"
                [nzMin]="0"
                (ngModelChange)="transTableInput$.next($event)"
                style="width: 100%"
              ></nz-input-number>
            </td>
          }
        }
      </tbody>
    </nz-table>
  }
</nz-card>
