@if (tableParams$ | async; as tableParams) {
  <nz-table [nzData]="[{}]" [nzShowPagination]="false">
    <thead>
      <tr>
        <th rowspan="2" nzLeft>状态</th>
        <th rowspan="2">开始状态</th>
        <th rowspan="2">终止状态</th>
        <th [colspan]="tableParams.terminalsSize">输入字符</th>
      </tr>
      <tr>
        @for (terminal of tableParams.terminals; track $index) {
          <th rowSpan="1">
            {{ terminal }}
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of tableParams.rows; track $index) {
        <tr></tr>
        <td nzLeft>{{ row.state }}</td>
        <td>
          <label nz-radio nzDisabled [ngModel]="row.isS"></label>
        </td>
        <td>
          <label nz-checkbox nzDisabled [ngModel]="row.isF"></label>
        </td>

        @for (v of row.transTable; track $index) {
          <td>
            {{ v }}
          </td>
        }
      }
    </tbody>
  </nz-table>
}
